{% extends "app/base2.html" %}
{% block content %}




   {% if key2 %}
   
    <form action="{% url 'update' pk=key2.id %}" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <section class="h-100 bg-dark">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col">
                        <div class="card card-registration my-4">
                            <div class="row g-0">
                                <div class="col-xl-6 d-none d-xl-block">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                        alt="Sample photo" class="img-fluid"
                                        style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                                </div>
                                <div class="col-xl-6">
                                    <div class="card-body p-md-5 text-black">
                                        <h3 class="mb-5 text-uppercase">Edit Appointement Details</h3>



                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="fname">First name</label>
                                                    <input type="text" name="fname" id=""
                                                        class="form-control form-control-lg" value="{{key2.Firstname}}" required>
                                                    <div class="invalid-feedback">
                                                        Please provide FirstName.
                                                    </div>
                                                    <!-- <label class="form-label" for="fname">First name</label> -->
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="lname">Last name</label>
                                                    <input type="text" name="lname" id=""
                                                        class="form-control form-control-lg" value="{{key2.Lastname}}" required />
                                                    <div class="invalid-feedback">
                                                        Please provide LastName.
                                                    </div>
                                                    <!-- <label class="form-label" for="lname">Last name</label> -->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="email">Email Address</label>
                                                    <input type="email" name="email" id=""
                                                        class="form-control form-control-lg" value="{{key2.Email}}" required />
                                                    <div class="invalid-feedback">
                                                        Please provide a valid email.
                                                    </div>
                                                    <!-- <label class="form-label" for="email">Email Address</label> -->
                                                </div>
                                            </div>
                                            <!-- <div class="col-md-6 mb-4">
                          <div class="form-outline">
                            <input type="text" id="form3Example1n1" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Example1n1">Father's name</label>
                          </div>
                        </div> -->
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label class="form-label" for="address">Address</label>
                                            <input type="text" name="address" id="" class="form-control form-control-lg" value="{{key2.Address}}"
                                                required />
                                            <div class="invalid-feedback">
                                                Please provide a valid address.
                                            </div>
                                            <!-- <label class="form-label" for="address">Address</label> -->
                                        </div>

                                        <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                                            <h6 class="mb-0 me-4">Gender: </h6>
                                            

                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                    id="exampleRadios1" value="female" {% if key2.Gender == "female" %} checked="checked"  {% endif %} required />
                                                <label class="form-check-label" for="exampleRadios1">Female</label>
                                            </div>
                                            

                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                    id="exampleRadios2" value="male"  {% if key2.Gender == "male" %} checked="checked"  {% endif %} required />
                                                <label class="form-check-label" for="exampleRadios2">Male</label>
                                            </div>
                                            

                                            <div class="form-check form-check-inline mb-0">
                                                <input class="form-check-input" type="radio" name="exampleRadios"
                                                    id="exampleRadios3" value="other"  {% if key2.Gender == "other" %} checked="checked"  {% endif %} required />
                                                <label class="form-check-label" for="exampleRadios3">Other</label>
                                            </div>

                                        </div>
                                        <div class="invalid-feedback">
                                            Please provide gender.
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <label class="form-label" for="contact">Contact No</label>
                                                    <input type="tel" name="contact" id=""
                                                        class="form-control form-control-lg" value="{{key2.Contact}}" required />
                                                    <div class="invalid-feedback">
                                                        Please provide a valid Contact no.
                                                    </div>
                                                    <!-- <label class="form-label" for="contact">Contact No</label> -->
                                                </div>
                                            </div>


                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 mb-4 my-2">
                                                <div class="form-outline">
                                                    <label class="form-label" for="date">Date</label>
                                                    <input type="date" name="date" id=""
                                                        class="form-control form-control-lg" value="{{key2.Date|date:'Y-m-d'}}" required />
                                                    <div class="invalid-feedback">
                                                        Please provide a valid Date.
                                                    </div>
                                                    <!-- <label class="form-label" for="date">Date</label> -->
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-group">
                                                        <label for="time">Time</label>

                                                        <select class="form-control" id="" name="time" value="{{key2.Time}}">
                                                            <option {% if key2.Time == "9:00 am to 9:30 am" %} selected  {% endif %}>9:00 am to 9:30 am</option>
                                                            <option {% if key2.Time == "9:30 am to 10:00 am" %} selected  {% endif %}>9:30 am to 10:00 am</option>
                                                            <option {% if key2.Time == "10:00 am to 10:30 am" %} selected  {% endif %}>10:00 am to 10:30 am</option>
                                                            <option {% if key2.Time == "2:00 pm to 2:30 pm" %} selected  {% endif %}>2:00 pm to 2:30 pm</option>
                                                            <option {% if key2.Time == "2:30 pm to 3:00 pm" %} selected  {% endif %}>2:30 pm to 3:00 pm</option>
                                                        </select>
                                                        <!-- <label for="sdoctor">Select Doctor</label> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="row">
                                                <div class="col-md-6 mb-4">
                                                    <div class="form-outline">
                                                        <label class="form-label" for="time">Appointement Time</label>
                                                        <input type="time" name="time" id=""
                                                            class="form-control form-control-lg" value="{{key2.Time|time:'H:i'}}" min="09:00" max="18:00" required />
                                                            <small>Working hours are 9am to 6pm</small>
                                                        <div class="invalid-feedback">
                                                            Please provide a valid Time.
                                                        </div>
                                                        
                                                    </div>
                                                </div> -->


                                                <div class="row">
                                                    <div class="col-md-6 mb-4">
                                                        <div class="form-group">
                                                            <label for="sdoctor">Select Doctor</label>

                                                            <select class="form-control" id="" name="sdoctor" value="{{key2.SelectDoctor}}">
                                                                <option {% if key2.SelectDoctor == "Dr Rasika Jadhav" %} selected  {% endif %}>Dr Rasika Jadhav</option>
                                                                <option {% if key2.SelectDoctor == "Dr Suvarna Joshi" %} selected  {% endif %}>Dr Suvarna Joshi</option>
                                                                <option {% if key2.SelectDoctor == "Dr Shafik Shaikh" %} selected  {% endif %}>Dr Shafik Shaikh</option>
                                                                <option {% if key2.SelectDoctor == "Dr Bhavesh shinde" %} selected  {% endif %}>Dr Bhavesh shinde</option>
                                                                <option {% if key2.SelectDoctor == "Dr Shubham Patil" %} selected  {% endif %}>Dr Shubham Patil</option>
                                                            </select>
                                                            <!-- <label for="sdoctor">Select Doctor</label> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-outline mb-4">
                                                        <label for="comment">Comment</label>



                                                        <textarea class="form-control" id="" name="comment"
                                                            rows="3" >{{key2.Comment}}
                                                            
                                                        </textarea>
                                                        <!-- <label for="comment">Comment</label> -->
                                                    </div>
                                                </div>

                                                <input class="btn btn-primary" type="submit" value="Update">





                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
    </form>
    
    {% endif %}
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>
{% endblock %}