
Hello {{name}},

Thanks for choosing City Hospital. You’ve just taken an exciting step in your wellness journey
We are looking forward to welcoming you to City Hospital on:
{{date}} at {{time}}
You’ve booked a appointement with {{doctor}} for your Treatment.
And your Appointement Id is 2222{{id}}
If, for any reason, you can’t make the appointment, please let us know as soon as possible either by giving us a call on 9359228998 or updating your appointment details.
for visiting hospital Click below link to Download reciept
http://127.0.0.1:8000/pdf/{{id}}
Kind Regards,
The City Hospital Staff
Contact: 
Email: rkadu9359@gmail.com,
Phone :9359228998

